
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background-color: #359381;
  color: #f9f9f9;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family:'Lobster', sans-serif ;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.sec {
  width: 100vw;
  margin-top: 18vh;
  position: relative;
  background-color: #003329;
  padding: 100px;
  height: 40rem;
 
}

.sec h3 {
  font-size: 4em;
  color: #f0f0f0;
  margin-bottom: 2rem; 
  font-family: 'Cormorant', serif;
 
}

.sec p {
  font-size: 1em;
  color: #ccc;
  font-weight: 300;
  margin-bottom: 3rem;
}

.contact-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
}

.input-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


.input{
  width:35vw;
  border-radius: 1rem;
  padding:0.5rem;
  background-color: #f0f0f0;
  margin: 0.5rem;
}

.comment{
  width: 70vw;
  height: 8rem;
}

.submit-btn{
  text-decoration: none;
  color: #359381;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 2rem auto;
  text-align: center;
  width: 10rem;
}

.submit-btn:hover{
  background-color: #359381;
  color: #f9f9f9;
}