
body {
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background-color: #359381;
  color: #f9f9f9;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family:'Lobster', sans-serif ;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}




/* mapty */

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}



.mapty-wrapper {
  margin-top: 18vh;
  position: relative;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;

  height: 100vh;
  background-color: #003329;
}

/* GENERAL */
.mapty a:link,
.mapty a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.mapty .sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.mapty .logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.mapty .workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mapty .workouts::-webkit-scrollbar {
  width: 0;
}

.mapty .workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.mapty .workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.mapty .workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.mapty .workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.mapty .workout__details {
  display: flex;
  align-items: baseline;
}

.mapty .workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.mapty .workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.mapty .workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.mapty .form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.mapty .form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.mapty .form__row {
  display: flex;
  align-items: center;
}

.mapty .form__row--hidden {
  display: none;
}

.mapty .form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.mapty .form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.mapty .form__input:focus {
  outline: none;
  background-color: #fff;
}

.mapty .form__btn {
  display: none;
}

.mapty .copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.mapty .twitter-link:link,
.mapty .twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.mapty .twitter-link:hover,
.mapty .twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}


/* WHERE TO TRAVEL SECTION**/


.sec {
  width: 100vw;
  background-color: #003329;
  padding: 100px;
 
}

.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-content h3 {
  font-size: 4em;
  color: #f0f0f0;
  margin-bottom: 2rem; 
  font-family: 'Cormorant', serif;
 
}

.form-content p {
  font-size: 1em;
  color: #ccc;
  font-weight: 300;
}

.contact-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
}

.input-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.input{
  width:35vw;
  border-radius: 1rem;
  padding:0.5rem;
  background-color: #f0f0f0;
  margin: 0.5rem;
}

.comment{
  width: 70vw;
  height: 8rem;
}

.submit-btn{
  text-decoration: none;
  color: #359381;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 2rem auto;
  text-align: center;
  width: 10rem;
}

.submit-btn:hover{
  background-color: #359381;
  color: #f9f9f9;
}